@import "tailwindcss";

@theme {
  --color-paper: #fcfcfc;
  --color-ink: #1a1a1a;
  --color-gray-ink: #717171;
  --color-border-ink: #e5e5e5;
}

@layer base {
  body {
    @apply bg-paper text-ink antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}